<!DOCTYPE html>
<html>
  <head>
    <title>Join a tournament</title>
  </head>
  <body>
    <h1>Join a tournament</h1>
    <form action="/add-player" method="POST">
      <label for="code">Tournament's code:</label>
      <input type="text" name="code" id="code"><br><br>
      <label for="name">Name (in-game) :</label>
      <input type="text" name="nom" id="nom"><br><br>
      <label for="team">Teamlist :</label>
      <input type="text" name="team" id="team"><br><br>
      <input type="submit" value="Join a tournament">
    </form>
  </body>
</html>
